::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #272727;
}
::-webkit-scrollbar-thumb {
  background: rgb(175, 35, 35);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 0, 0);
}